# Object files created from compiling C files
*.o

# Executable file created from linking Object files
**/exe
**/multiprocess_DFT
**/tiffProcessor
**/shell
**/clientApp
**/ehe
**/homeworkServer

# Data files
*.tif
*.tiff
*.TIFF
*.TIF
*.xcf
*.dat

# Visual Code related files/folders
**/.vscode
