# Object files created from compiling C files
*.o

# Executable file created from linking Object files
**/exe
**/multiprocess_DFT
**/tiffProcessor

# TIFF image files
*.tif
*.tiff
*.TIFF
*.TIF
*.xcf

# Visual Code related files/folders
**/.vscode
